.footer {
  position: relative;
  height: 950px;
  width: 100%;
  background: var(--color-footer);
}

.footer__gradient {
  background: var(--gradient-text);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
  width: 821px;
  margin: 0 auto;
  padding-top: 175px;
  margin-bottom: 70px;
}

.req__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__request {
  width: 218px;
  height: 65px;
  background: transparent;
  border: 1px solid var(--color-white);
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  margin-bottom: 180px;
  text-align: center;
  cursor: pointer;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 0 180px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  font-size: 40px;
  color: var(--color-white);
}

.footer__h {
  font-size: 14px;
  line-height: 16px;
  color: var(--color-white);
}

.footer__p {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-white);
  margin-top: 26px;
}

.address {
  width: 168px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "liga" off;
  color: var(--color-white);
  margin-top: 83px;
}
