nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

nav h1 {
  color: var(--color-white);
}

nav ul li {
  display: inline-block;
  margin: 0 30px;
}

nav ul li a,
.sign__in__up a {
  font-family: Manrope;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
}

nav button {
  width: 152px;
  height: 58px;
  color: var(--color-white);
  background: #ff4820;
  border: none;
  outline: none;
  margin-left: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
